.custom-navbar {
    background-color: rgba(0, 0, 0, 0.60);
}

.navbar-brand {
    font-size: 4ch;
    font-weight: bold;
    color: white;
    font-family: 'Racing Sans One', sans-serif;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 30px;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.47);
    border: none; 
    border-radius: 0; 
    box-shadow: none; 
    margin-top: 0; 
    padding: 3px; 
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: white;
    font-family: 'Urbanist', sans-serif;
    background-color: black;
    border-radius: 50px;
    padding: 5px 5px; 
    margin: 5px 15px; 
    text-align: center;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

.custom-nav-link,
.navbar-nav .nav-item .dropdown-toggle {
    border-radius: 50px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 6px;
    color: white !important;
}

.navbar-nav .custom-nav-link:focus,
.navbar-nav .nav-item .dropdown-toggle:focus{
    color: white;
    background-color: rgba(163, 20, 20, 1);
}

.navbar-brand:hover,
.navbar-brand:focus{
    color: rgba(163, 20, 20, 1);
}

.login-signup .signin-login-button:hover,
.navbar-nav .custom-nav-link:hover,
.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .nav-item .dropdown-toggle:hover {
    background-color: rgba(163, 20, 20, 1);
}

.navbar-nav .nav-item.no-caret .dropdown-toggle::after {
    display: none;
}

.login-signup .signin-login-button {
    background-color: black;
    border: none;
    color: white;
    font-family: 'Urbanist', sans-serif;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}


