.AboutUs {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 50px;
    color: white;
    height: 100%;
}

.imgsfloat {
    position: relative;
    width: 50%;
    margin-top: 150px;
    left: 100px;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.img1 {
    position: absolute;
    left: 50px;
    top: 300px;
    width: 40%;
    z-index: 1;
}

.img2 {
    position: absolute;
    left: 50px;
    top: 0;
    width: 80%;
}

.info {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 130px;
}

.AbtTitle p {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.AbtTitle p::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-right: 10px;
    vertical-align: middle;
}

.AbtTitle h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.2;
}

.txt {
    margin: 30px 0;
}

.txt h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.txt h2 img {
    margin-right: 20px;
}

.txt p {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 80px;
}

.wbtn-container .wbtn {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 1397px) {
    .AboutUs {
        padding: 0px;
    }

    .imgsfloat {
        margin-top: 120px;
        left: 50px;
        width: 45%;
    }

    .txt p {
        font-size: 17px;
    }

    .info {
        width: 60%;
        margin-top: 150px;
    }

    .wbtn-container .wbtn {
        margin-top: 20px;
    }

    .AbtTitle p {
        font-size: 20px;
    }

    .AbtTitle h1 {
        font-size: 30px;
    }

    .txt h2 {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    .AboutUs {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .imgsfloat {
        display: none;
    }

    .img1,
    .img2 {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    .info {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
    }

    .txt p {
        padding-left: 0;
    }

    .wbtn-container .wbtn {
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        height: auto;
    }
    .left-content {
        margin-top: 30px;
    }
    .logo-placeholder {
        font-size: 30px;
    }
    .social-icon img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .AboutUs {
        padding: 10px 0;
    }
    .left-content {
        margin-top: 20px;
    }
    .right-content {
        margin-top: 20px;
    }
    .logo-placeholder {
        font-size: 25px;
    }
    .social-icon img {
        width: 50px;
        height: 50px;
    }
    .social-icon {
        margin-left: 5px;
    }
}
