.Calc {
    padding: 80px 0 0px 0;
    background: black;
    color: white;
    position: relative;
    width: 100%;
    height: 955px;
}

.Calc .Calchead {
    text-align: center;
    margin-top: 40px;
}

.Calc .oves {
    color: rgba(163, 20, 20, 1);
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.Calc h1 {
    font-size: 50px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.Calc .subs {
    font-size: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: -170px;
}

.Calc .form-space .form-element {
    margin-bottom: 20px;
    font-family: 'Urbanist', sans-serif !important;
    font-size: 25px;
}

.Calc .form-space .form-element .slct {
    margin-bottom: 30px;
    font-size: 25px;
}

.Calc .select__menu {
    background-color: #fff;
    color: rgba(128, 128, 128, 1) !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Calc .select__multi-value {
    background-color: rgba(163, 20, 20, 1);
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding: 2px 5px;
}

.Calc .select__multi-value__label {
    font-weight: bold;
    color: white;
}

.Calc .select__multi-value__remove {
    color: #fff;
    cursor: pointer;
}

.Calc .custom-select {
    color: rgba(128, 128, 128, 1) !important;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: calc(1.5em + 0.75rem + 2px);
    padding-left: 0.4em;
    background-color: white;
    background-image: none;
    appearance: menulist; /* Restore default appearance */
}

.Calc .total-estime {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: rgba(163, 20, 20, 1);
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}

@media (max-width: 1398px) {   
    .Calc .Calchead {
        text-align: center;
        margin-top: 40px;
    }

    .Calc .subs {
        font-size: 20px;
        position: relative;
        z-index: 1;
        margin-bottom: -200px;
    }
    
    .Calc .form-space .form-element .slct {
        margin-bottom: 70px;
    }
    .Calc .total-estime {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .Calc .Calchead {
        text-align: center;
        margin-top: 60px;
    }

    .Calc .form-space .form-element .slct {
        margin-bottom: 50px;
        font-size: 20px;
    }
    .Calc .total-estime {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .Calc {
        padding: 40px 10px;
        height: auto;
    }
    .Calc .Calchead {
        margin-top: 40px;
        margin-bottom: -30px;
    }
    .Calc .oves {
        font-size: 18px;
    }
    .Calc h1 {
        font-size: 30px;
    }
    .Calc .subs {
        font-size: 16px;
    }
    .Calc .form-space .form-element {
        font-size: 18px;
    }
    .Calc .form-space .form-element .slct {
        margin-bottom: 50px;
        font-size: 18px;
    }
    .Calc .total-estime {
        font-size: 18px;
        padding: 10px;
    }
}
