.LocFind {
    width: 100%;
    height: auto;
    background: black;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.LocFind .locTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
}

.LocFind .locTitle .titleCont1 {
    transform: translateY(-18px); /* Move the entire titleCont1 up by 18px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LocFind .locTitle h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
}

.LocFind .locTitle .titleCont2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LocFind .locTitle .titleCont2 h1 {
    margin: 0;
}

.LocFind .locTitle span {
    color: rgba(163, 20, 20, 1);
    font-size: 30px;
    text-decoration: underline;
    margin-top: 8px;
}

.LocFind .Cardslgn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

@media (max-width: 1397px) {
    .LocFind .locTitle h1 {
        font-size: 50px;
    }

    .LocFind .locTitle span {
        font-size: 20px;
        margin-top: 3px;
    }

    .LocFind .locTitle {
        gap: 10px;
    }

    .LocFind .Cardslgn {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .LocFind .locTitle h1 {
        font-size: 40px; 
    }

    .LocFind .locTitle span {
        font-size: 20px; 
    }

    .LocFind .Cardslgn {
        flex-direction: column;
        gap: 30px; 
    }
}
