* {
    margin: 0px;
    padding: 0px;
    font-family: 'Urbanist', sans-serif;
}

.lcard img {
    height: auto;
    width: 100%;
}

.lcard {
    border-radius: 50px;
    height: 523px;
    width: 334px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.lcard .find h1,
.lcard .nav-link {
    font-weight: bold;
}

.lcard .find h1 {
    font-size: 50px;
    padding-bottom: 6px;
}

.lcard .nav-link {
    font-size: 30px;
}

.lcard .find {
    width: auto;
    height: auto;
    padding: 20px;
    color: white;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 2%, rgb(222, 24, 24) 70%);
}

.lcard .find,
.lcard:after {
    width: 100%;
    position: absolute;
    left: 0;
}

.lcard:after {
    content: '';
    height: 100%;
    top: 0;
    transition: background 0.5s;
}

.lcard:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 10%, rgb(163, 20, 20) 70%);
}

.lcard .time {
    text-decoration: underline;
}

.lcard .time,
.lcard .find p {
    font-size: 25px;
}

.lcard .nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.lcard .nav-link em::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 1397px) {
    .lcard {
        height: 450px;
        width: 300px;
        margin: 20px;
    }
    
    .lcard .find h1 {
        font-size: 40px;
        padding-bottom: 6px;
    }
    
    .lcard .nav-link {
        font-size: 20px;
    }
    
    .lcard .time,
    .lcard .find p {
        font-size: 20px;
    }
}
