.custom-navbar {
    background-color: rgba(0, 0, 0, 0.60);
}

.navbar-brand {
    font-size: 4ch;
    font-weight: bold;
    color: white;
    font-family: 'Racing Sans One', sans-serif;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.47);
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: black;
    font-family: 'Urbanist', sans-serif;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #ddd;
}

.navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

.custom-nav-link,
.navbar-nav .nav-item .dropdown-toggle {
    border-radius: 50px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 6px;
}

.navbar-nav .custom-nav-link:hover,
.navbar-nav .nav-item .dropdown-toggle:hover {
    background-color: rgba(163, 20, 20, 1);
}

.navbar-nav .nav-item.no-caret .dropdown-toggle::after {
    display: none;
}

.button-image {
    width: 20px;
    height: 20px;
}
