.wcustom-button {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 5px 5px 20px black;
    border: 3px solid white;
    transition: transform 0.5s;
}

.wcustom-button .wcustom-button-title {
    font-size: 30px !important;
    color: white;
    font-family: 'Urbanist', sans-serif !important;
}

.wcustom-button:hover {
    border-color: white;
    transform: scale(1.1);
}