footer {
    background-image: url('./public/BtmReg.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
}

.footer .container {
    height: 170px;
    width: 100%; /* Ensure the container takes the full width */
}

.footer-content {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
}

.left-content {
    text-align: left;
    margin-top: 90px;
    transform: translateX(-70%);
    color: white;
}

.logo-placeholder {
    font-weight: bold;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 40px;
}

.right-content {
    display: flex;
    align-items: flex-end; 
    margin-left: auto; 
    margin-top: 60px!important; 
    transform: translateX(60%);
}

.social-icon {
    margin-left: 10px;
}

.social-icon img {
    width: 86px;
    height: 86px;
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1397px) {
    .left-content {
        text-align: left;
        margin-top: 90px;
        transform: translateX(-20%);
        color: white;
    }
    
    .logo-placeholder {
        font-weight: bold;
        font-family: 'Racing Sans One', sans-serif;
        font-size: 30px;
    }
    
    .right-content {
        display: flex;
        align-items: flex-end; 
        margin-left: auto; 
        margin-top: 60px!important; 
        transform: translateX(30%);
    }
    
    .social-icon {
        margin-left: 10px;
    }
    
    .social-icon img {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer .container {
        height: auto;
    }
    .left-content {
        margin-top: 30px;
    }
    .logo-placeholder {
        font-size: 30px;
    }
    .social-icon img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px 0;
    }
    .left-content {
        margin-top: 20px;
    }
    .right-content {
        margin-top: 20px!important;
    }
    .logo-placeholder {
        font-size: 25px;
    }
    .social-icon img {
        width: 50px;
        height: 50px;
    }
    .social-icon {
        margin-left: 5px;
    }
}
