.QundsA {
    width: 100%;
    height: 955px;
    background: black;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    position: relative;
}

.QundsA .qundsaHead {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: bold;
}

.QundsA .qundsaHead h1 {
    color: white;
    font-size: 80px;
}

.QundsA .qundsaHead p {
    color: rgba(163, 20, 20, 1);
    font-size: 30px;
}

.QundsA .qundsaHead p::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: rgba(163, 20, 20, 1);
    margin-right: 10px;
    vertical-align: middle;
}

.QundsA .Acord-container {
    margin-top: 50px;
}

.QundsA .accordion-button {
    background-color: black;
    color: white;
    font-family: 'Urbanist', sans-serif !important;
    font-size: 30px;
    height: 100px;
    border-top: 0.5px solid white;
    border-bottom: none !important;
}

.QundsA .accordion-button::after {
    display: none;
}

.QundsA .accordion-button::before {
    content: '';
    background-image: url('./public/ngrnj.svg');
    /* Path to your custom icon */
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease-in-out;
}

.QundsA .accordion-button:not(.collapsed) {
    background-color: black;
    color: rgba(163, 20, 20, 1);
    border-bottom: none !important;
}

.QundsA .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}

.QundsA .accordion-button:focus {
    box-shadow: none;
}

.QundsA .accordion-body {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    padding-left: 60px;
}

.QundsA .accordion-item {
    border: none !important;
    /* Remove any borders */
}

/* Media Queries */
@media (max-width: 992px) {
    .QundsA {
        height: auto;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .QundsA .qundsaHead h1 {
        font-size: 50px;
    }

    .QundsA .qundsaHead p {
        font-size: 24px;
    }

    .QundsA .accordion-button {
        font-size: 24px;
        height: 80px;
    }

    .QundsA .accordion-button::before {
        width: 30px;
        height: 30px;
        right: 10px;
    }

    .QundsA .accordion-body {
        font-size: 18px;
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .QundsA .qundsaHead h1 {
        font-size: 30px;
    }

    .QundsA .qundsaHead p {
        font-size: 20px;
    }

    .QundsA .accordion-button {
        font-size: 20px;
        height: 70px;
    }

    .QundsA .accordion-button::before {
        width: 24px;
        height: 24px;
        right: 5px;
    }

    .QundsA .accordion-body {
        font-size: 16px;
        padding-left: 20px;
    }
}

@media (max-width: 1397px) {
    .QundsA .qundsaHead h1 {
        font-size: 40px;
    }

    .QundsA .qundsaHead p {
        font-size: 20px;
    }

    .QundsA .accordion-button {
        font-size: 25px;
        height: 70px;
    }

    .QundsA .accordion-button::before {
        width: 24px;
        height: 24px;
        right: 5px;
    }

    .QundsA .Acord-container {
        margin-top: 70px;
    }

    .QundsA .accordion-body {
        font-size: 20px;
        padding-left: 20px;
    }
}
