.servspage-header-image {
    width: 100%;
    height: 50;
    display: block;
    position: relative;
}

.servspage-ServPage {
    padding: 0 0 50px 0;
    position: relative;
    margin-top: 0;
}

.servspage-content {
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 20px;
}

.servspage-Serv-box {
    padding: 30px 20px;
}

.servspage-title {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif !important;
    text-align: right;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-20%);
}

.servspage-title span {
    font-size: 24px;
    color: rgba(163, 20, 20, 1) !important;
}

.servspage-title span em::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: rgba(163, 20, 20, 1) !important;
    margin-right: 10px;
    vertical-align: middle;
}

.servspage-Serv-slider {
    margin: 0 auto;
    margin-top: -20px;
}

.servspage-Serv-slider .servspage-carrous-item {
    margin: 0 auto 15px auto;
}

.servspage-btn {
    display: block;
    margin: 20px auto;
}

  
  @media (min-width: 768px) {
    .servspage-title{
        font-size: 19PX;
    }
    .servspage-title span {
        font-size: 15px;
    }
    .servspage-title span em::after {
        width: 74px;
    }
  }
  
  @media (min-width: 992px) {
    .servspage-title{
        font-size: 24PX;
    }
    .servspage-title span {
        font-size: 19px;
    }
    .servspage-title span em::after {
        width: 57px;
    }
    
  }
  
  @media only screen and (min-width: 1200px) {
    .servspage-title{
        font-size: 34PX;
    }
    .servspage-title span {
        font-size: 24px;
    }
    .servspage-title span em::after {
        width: 90px;
    }
  }

  .txt-rotate > .wrap {
    border-right: 0.08em;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  @media (min-width: 576px) {
    .button-container {
      flex-direction: row;
    }
  }
  
