.servspage-header-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-top: 0; /* Ensure the image is positioned relative to its container */
}

.servspage-ServPage {
    padding: 0 0 50px 0;
    position: relative;
    margin-top: 0;
}

.servspage-ServPage .servspage-content {
    z-index: 1;
    position: relative;
    text-align: center; /* Center align the content */
}

.servspage-Serv-box {
    padding: 60px 50px;
    margin-top: 0px;
}

.servspage-ServPage .servspage-title {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif !important;
    text-align: right;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-30%);
}

.servspage-ServPage span {
    font-size: 30px;
    color: rgba(163, 20, 20, 1) !important;
}

.servspage-ServPage span em::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: rgba(163, 20, 20, 1) !important;
    margin-right: 10px;
    vertical-align: middle;
}

.servspage-Serv-slider {
    margin: 0 auto;
    position: relative;
}

.servspage-Serv-slider .servspage-carrous-item {
    margin: 0 auto 15px auto;
}

.servspage-Serv-box .servspage-btn {
    display: block;
    margin: 20px auto;
}
