/*Default CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 75px;
}

body{
    overflow-x: hidden;
    position: relative;
}

.AboutUs {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 50px;
    color: white;
    height: 100%;
}

.AboutUs .imgsfloat {
    position: relative;
    width: 50%;
    margin-top: 150px;
    left: 100px;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.AboutUs .img1 {
    position: absolute;
    left: 50px;
    top: 300px;
    width: 40%;
    z-index: 1;
}

.AboutUs .img2 {
    position: absolute;
    left: 50px;
    top: 0;
    width: 80%;
}

.AboutUs.info {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 130px;
}

.AboutUs .AbtTitle p {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.AboutUs .AbtTitle p::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-right: 10px;
    vertical-align: middle;
}

.AboutUs .AbtTitle h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.2;
}

.AboutUs .txt {
    margin: 30px 0;
}

.AboutUs .txt h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.AboutUs .txt h2 img {
    margin-right: 20px;
}

.AboutUs .txt p {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 80px;
}

.info .wbtn {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .AboutUs {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .AboutUs .imgsfloat {
        display: none;
    }

    .AboutUs .img1,
    .AboutUs .img2 {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    .AboutUs .info {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
    }

    .AboutUs .txt p {
        padding-left: 0;
    }

    .AboutUs .info .wbtn {
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1397px) {
    .AboutUs .AboutUs {
        padding: 0px;
    }


    .AboutUs .imgsfloat {
        margin-top: 110px;
        left: 50px;
        width: 45%;
    }

    .AboutUs .txt p {
        font-size: 17px;
    }

    .AboutUs .info {
        width: 60%;
    }

    .AboutUs .info .wbtn {
        margin-top: 20px;
    }

    .AboutUs .AbtTitle p {
        font-size: 20px;
    }

    .AboutUs .AbtTitle h1 {
        font-size: 30px;
    }

    .AboutUs .txt h2 {
        font-size: 25px;
    }

}

.Calc {
    padding: 80px 0 0px 0;
    background: black;
    color: white;
    position: relative;
    width: 100%;
    height: 955px;
}

.Calc .Calchead {
    text-align: center;
    margin-top: 60px;
}

.Calc .oves {
    color: rgba(163, 20, 20, 1);
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.Calc h1 {
    font-size: 50px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.Calc .subs {
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.Calc .form-space .form-element {
    margin-bottom: 20px;
    font-family: 'Urbanist', sans-serif !important;
    font-size: 25px;
}

.Calc .form-space .form-element .slct {
    margin-bottom: 150px;
    font-size: 25px;
}

.Calc .select__menu {
    background-color: #fff;
    color: rgba(128, 128, 128, 1) !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Calc .select__multi-value {
    background-color: rgba(163, 20, 20, 1);
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding: 2px 5px;
}

.Calc .select__multi-value__label {
    font-weight: bold;
    color: white;
}

.Calc .select__multi-value__remove {
    color: #fff;
    cursor: pointer;
}

.Calc .custom-select {
    color: rgba(128, 128, 128, 1) !important;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: calc(1.5em + 0.75rem + 2px);
    padding-left: 0.4em;
    background-color: white;
    background-image: none;
    appearance: menulist; /* Restore default appearance */
}

.Calc .total-estime {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: rgba(163, 20, 20, 1);
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}



@media (max-width: 1397px) {   
    .Calc .Calchead {
        text-align: center;
        margin-top: 40px;
    }

    .Calc .subs {
        font-size: 20px;
        position: relative;
        z-index: 1;
        margin-bottom: -200px;
    }
    
    .Calc .form-space .form-element .slct {
        margin-bottom: 70px;
    }
    .Calc .total-estime {
        font-size: 20px;
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .Calc .Calchead {
        text-align: center;
        margin-top: 60px;
    }

    .Calc .form-space .form-element .slct {
        margin-bottom: 50px;
        font-size: 20px;
    }
    .Calc .total-estime {
        font-size: 20px;
        padding: 10px;
    }
}


@media (max-width: 576px) {
    .Calc {
        padding: 40px 10px;
        height: auto;
    }
    .Calc .Calchead {
        margin-top: 40px;
        margin-bottom: -30px;
    }
    .Calc .oves {
        font-size: 18px;
    }
    .Calc h1 {
        font-size: 30px;
    }
    .Calc .subs {
        font-size: 16px;
    }
    .Calc .form-space .form-element {
        font-size: 18px;
    }
    .Calc .form-space .form-element .slct {
        margin-bottom: 50px;
        font-size: 18px;
    }
    .Calc .total-estime {
        font-size: 18px;
        padding: 10px;
    }
}

.baner {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 100px 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('homebg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  
  .baner .stuff {
    margin-top: 100px;
  }
  
  .baner h1 {
    font-weight: bold;
    font-size: 48px; /* 48px */
    color: white;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  
  .baner p {
    color: white !important;
    font-size: 24px; 
    line-height: 1.5em;
    width: 100%;
    border-top: 2px solid white;
    padding-top: 10px;
  }
  
  @media (min-width: 768px) {
    .baner h1 {
      font-size: 30px; 
    }
  
    .baner p {
      font-size: 15px; 
    }
  
    .baner .stuff {
      margin-top: 100px;
    }
  }
  
  @media (min-width: 992px) {
    .baner h1 {
      font-size: 39px; 
    }
  
    .baner p {
      font-size: 19px; 
    }
  
    .baner .stuff {
      margin-top: 150px;
    }
  }
  
  @media (max-width: 1396px) {
    .baner h1 {
      font-size: 48px; 
    }
  
    .baner p {
      font-size: 24px; 
    }
  
    .baner .stuff {
      margin-top: 200px;
    }
  }
  
  .baner .txt-rotate > .wrap {
    border-right: 0.08em;
  }
  
  .baner .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  @media (min-width: 576px) {
    .button-container {
      flex-direction: row;
    }
  }
  
  .LocFind {
    width: 100%;
    height: auto;
    background: black;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.LocFind .locTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
}

.LocFind .locTitle .titleCont1 {
    transform: translateY(-18px); /* Move the entire titleCont1 up by 18px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LocFind .locTitle h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
}

.LocFind .locTitle .titleCont2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LocFind .locTitle .titleCont2 h1 {
    margin: 0;
}

.LocFind .locTitle span {
    color: rgba(163, 20, 20, 1);
    font-size: 30px;
    text-decoration: underline;
    margin-top: 8px;
}

.LocFind .Cardslgn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

@media (max-width: 1397px) {
    .LocFind .locTitle h1 {
        font-size: 50px;
    }

    .LocFind .locTitle span {
        font-size: 20px;
        margin-top: 3px;
    }

    .LocFind .locTitle {
        gap: 10px;
    }

    .LocFind .Cardslgn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    
}

@media (max-width: 768px) {
    .LocFind .locTitle h1 {
        font-size: 40px; 
    }

    .LocFind .locTitle span {
        font-size: 20px; 
    }

    .LocFind .Cardslgn {
        flex-direction: column;
        gap: 30px; 
    }
}
